{% extends "base.html" %}

{% block content %}

<form method="post">
  {% csrf_token %}
    <div class="row">
      <h1 style="text-align:left; margin-bottom: 30px;">Deletar Carro</h1>
    </div>
    <div class="row">
        <p style="margin-bottom: 20px;">Tem certeza que deseja deletar o carro :</p>
    </div>
    <div class="row">
      <p style="font-size:24px;"><strong>{{ object.fabricante }} {{ object.modelo }}</strong></p>
    </div>
    <div class="row">
      <div class="buttons-container">
        <button type="submit" class="botao vermelho">Deletar</button>
        <a href="{% url 'consultar_carros' %}" class="botao cinza">Cancelar</a>
      </div>
    </div>
  <div>
</form>

{% endblock %}

