{% extends "base.html" %}

{% block content %}

  <div class="car-card1">
      <h1>Detalhes do Carro</h1>
      <img src="{{ object.foto.url }}" alt="{{ object.modelo }} - {{ object.fabricante }}">
      <h2>{{ object.fabricante }} {{ object.modelo }}</h2>
      <p><strong>Ano de Fabricação:</strong> {{ object.ano }}</p>
      <p><strong>Ano do Modelo:</strong> {{ object.ano }}</p>
      <p><strong>Cor:</strong> {{ object.cor }}</p>
      <p><strong>Placa:</strong> {{ object.placa }}</p>
      <p><strong>Preço:</strong> R$ {{ object.preco }}</p>
  </div>

  {% if user.is_authenticated %}
    <div class="buttons-container">
      <a href="{% url 'alterar_carro' pk=object.pk %}" class="botao verde">Editar</a>
      <a href="{% url 'deletar_carro' pk=object.pk %}" class="botao vermelho">Deletar</a>
      <a href="{% url 'consultar_carros' %}" class="botao cinza">Retornar</a>
    </div>
  {% endif %}

{% endblock %}

